<div class="room-messages-container">
    <div class="room-selection">
      <label for="room-select">Select a Speaker:</label>
      <select id="room-select" [(ngModel)]="selectedRoom" (change)="fetchMessages()">
         <option value="0935">Dr Niraj Kinariwala</option>
        <option value="1040">Dr Luigi Rubino</option>
        <option value="1145">Andrei Andreev</option>
        <option value="1250"> Dr Majed Omar</option>
        <option value="0235">Mr. Michael Gaster</option>
        <option value="0345">Sudeep Paul</option>
        <option value="0450">Panel Discussion</option>
      </select>
    </div>
  
    <div *ngIf="selectedRoom" class="messages-container">
      <!-- <h3>Messages in {{ selectedRoom }}</h3> -->
      <div *ngIf="messages.length > 0; else noMessages" class="wrapperBox">
        <div *ngFor="let message of messages" class="message-box">
          <div class="message-content">
            <strong class="message-user">{{ message.user }}</strong>
            <p class="message-text">{{ message.text }}</p>
            <p class="message-upvotes">Upvotes: {{ message.upvotes }}</p>
            <!-- <small class="message-timestamp">{{ message.timestamp | date: 'short' }}</small> -->
          </div>
        </div>
      </div>
      <ng-template #noMessages>
        <p class="noMessages">No messages for the Speaker</p>
      </ng-template>
    </div>
  </div>
  